<div class="dflex">
  <input class="inputList" type="text" name="search" [(ngModel)]="searchText" />
</div>

<div class="dflex">
  <div class="searchList">
    <ul *ngFor="let poke of pokemon.pokemon">
      <li>{{ poke.nameEn }}</li>
    </ul>
  </div>
  <hr />
  <div class="searchList">
    <ul *ngFor="let poke of pokemon.pokemon">
      <li>{{ poke.nameFr }}</li>
    </ul>
  </div>
  <hr />
  <div class="searchList">
    <ul *ngFor="let poke of pokemon.pokemon">
      <li>{{ poke.nameJp }}</li>
    </ul>
  </div>
</div>

<div class="dflex">
  <div class="searchList">
    <ul *ngFor="let poke of receivedPokemon | filter : searchText">
      <li>{{ poke.name }}</li>
    </ul>
  </div>
</div>
